.banner {
    .slider_wrapper {
  .banner_about{
    width: 100%;
    span {
        font-size: 36px;
        line-height: 35px;
        letter-spacing: 0;
        font-weight: 200;
        text-transform: capitalize;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 65px;
        line-height: 70px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        margin-block: 44px 60px;
        letter-spacing: 0;
        font-family: 'Oxanium', sans-serif !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-color: #ff7a21;
            border: 0;
            padding: 12px 33px;
            color: white;
            font-size: 15px;
            letter-spacing: .5px;
            line-height: 21px;
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            -webkit-appearance: none;
            appearance: none;

        }
    }
  }
    }
}