header {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 15px 20px;

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        input{
            font-size: 16px;
        }
    }
}